
#app
{
    display: grid;
    grid-template-areas: 'nav' 'content';
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

#app > .nav
{
    grid-area: nav;
}

#app > .navContent
{
    grid-area: content;
}
